<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
         <!-- cdn bootstrap -->
       <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.css">
       <!--   cdn bootstrap font awesome -->  
       <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

       <style>
	
			.fa_custom {
				color: #0099CC
				}
			span.step {
			  background: #cccccc;
			  border-radius: 0.8em;
			  -moz-border-radius: 0.8em;
			  -webkit-border-radius: 0.8em;
			  color: #ffffff;
			  display: inline-block;
			  font-weight: bold;
			  line-height: 1.6em;
			  margin-right: 5px;
			  text-align: center;
			  width: 1.6em; 
			}

       </style>
  </head>
  <body ng-app="thumbs-module" ng-controller="myCTRL">
    <div >
    			
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">yourGroceriesDeals.com</a>
	    </div>
	      <ul class="navbar-right" ng-click="checkout();">	
	      				<li style="margin-right: 10px;">
								<i class="fa-shopping-cart fa fa_custom fa-shopping-cart fa-5x" aria-hidden="true"></i><span class="step" ng-show="updateBasketIconMain!=0">{{updateBasketIconMain}}</span></div>
	      				</li>
	      </ul>
	    </div>
	  </div>
	</nav>
    </div>


		<!-- basket directive -->
		<basket-checkout updatebasketicon="updateBasketIconMain"></basket-checkout>

	<div class="container">
		<div class="row" ng-cloak  style="border:3px solid #ccc;border-radius:5px;padding-top: 50px;">  

					

					 <h3 style="text-align: center;"> Those are your deals of a day </h3>
						<!-- product directive -->
					<product  basket="add_item_to_basket_main(message)" ></product>

		</div>
	</div>



	<footer>
	   <!-- jQuery -->
	   <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
	   <!--bootrsrap javascript -->
	   <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	   <!-- require js -->
	   <!-- <script type="text/javascript" src="http://bennadel.github.io/JavaScript-Demos/vendor/require/require-2.1.9.min.js"></script> -->
	   <!-- Angular -->
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	   <!-- Angular validate messages -->
	   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
	   <!-- Angular ui router -->
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> 
	   <!-- Angular animate library -->
	   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>

	   <script>var ang = angular.module('thumbs-module', []);</script>
	   <!-- main for this page-->
	   <script src="javascripts/converter-currency-service.js"></script>
	   <script src="javascripts/data-service.js"></script>
	   <script src="javascripts/controller.js"></script>
	   <script src="javascripts/basket-checkout.js"></script>
	   <script src="javascripts/products-list.js"></script>

	 </footer>
  </body>
</html>
