   <style type="text/css">
	 	
	 html, body {
        height: 100%;
        background-color: #d8d7d7;

    }
	
	.thumb {
		 transition:all 0.5s ease;
		 cursor: pointer;
	}
	.thumb:hover {
		 box-shadow: inset 0 0 0 6px #404e5d;
	}
	
	.thumb img {
		width: 100%;
		height: auto;
	}


	.active { box-shadow: inset 0 0 0 18px #404e5d;} 

	
    .about p{
    	font-size: 18px;
    }   

</style>
		<div class="col-md-12">
				<div class="row">
					      <div class="col-md-3 offset-md-1" style="margin-top:5%;" ng-repeat="item_init in products track by $index">
					              <div class="panel panel-primary"> 
					                <div class="panel-body thumb">
					                			<h3>{{item_init.product_name}}</h3>
					                			<div>
					                				<img src="{{item_init.thumbnail}}" />
					                			</div>
					                			<p>{{item_init.description}}</p>
					    							<p class="btn btn-primary offset-md-1" ng-click="basket({message:item_init})" >add to basket --></p>  
					    						<div class="row">
					    							<h1 style="float: right;text-align: top">{{item_init.price}};-</h1>    
					    						</div>
					     			</div>
					     		  </div>
						   </div>
				</div>
		</div>